@model StarWarsTravelBlog.Models.Location

<html>
<head>
    <title>Star Wars Travel Blog - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr/>
   <h3>Planet: </h3>@Html.DisplayFor(model => model.planet)
    <h3>Biome: </h3>@Html.DisplayFor(model => model.biome)
    <h3>Region: </h3>@Html.DisplayFor(model => model.region) 

    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>