@model StarWarsTravelBlog.Models.Experience

<html>
<head>
    <title>Star Wars Travel Blog - Delete</title>
</head>
<body>

    <h2>Are you sure you want to delete this?</h2>
    <hr />
    <h3>@Html.DisplayFor(model => model.description)</h3>
    @using (Html.BeginForm())
    <h3>@Html.DisplayFor(model => model.date)</h3>
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    @Html.ActionLink("Back to List", "Index")
</body>
</html>
}
