<html>
<head>
    <title>Star Wars Travel Blog</title>
</head>
<body>
    <h2>Star Wars Travel Blog</h2>
    <p>@Html.ActionLink("See a list of Experiences", "Index", "Experiences")</p>
    <p>@Html.ActionLink("See a list of Planets", "Index", "Locations")</p>
</body>
</html>