@model StarWarsTravelBlog.Models.Location

<html>
<head>
    <title>Star Wars Travel Blog - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr/>
   <h3>Planet: @Html.DisplayFor(model => model.planet)</h3>
    <h3>Biome: @Html.DisplayFor(model => model.biome)</h3>
    <h3>Region: @Html.DisplayFor(model => model.region)</h3> 

    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>